<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Portfolio Website HTML CSS and Javascript</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <!-- box icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <div class="wrapper">
        <div class="cover cover-left"></div>
        <div class="cover cover-right"></div>

        <div class="book">
            <!-- page 1 -->
            <!-- profile page left-->
            <div class="book-page page left">
                <div class="profile-page">
                    <img src="/images/Rohitphoto.jpg" alt="" loading="lazy">
                    <h1> Rohit Patel</h1>
                    <h3>Web developer</h3>

                    <div class="social-media">
                        <a href="https://github.com/Rohitpatel09"><i class='bx bxl-github'></i></a>
                        <a href="#"><i class='bx bxl-twitter'></i></a>
                        <a href="https://www.linkedin.com/in/rohit-patel-75a174247/"><i class='bx bxl-linkedin'></i></a>
                        <a href="http://instagram.com/gurjar__rohit_patel/"><i class='bx bxl-instagram'></i></a>
                    </div>

                    <p>Hey, I'm Rohit Patel, a passionate web developer specializing in building modern, responsive, and
                        user-friendly websites. I enjoy working with technologies like React, Node.js, and Express, and
                        I love solving real-world problems with clean code and creative design. </p>

                    <div class="btn-box">
                        <a href="https://drive.google.com/uc?export=download&id=1gnUoRm4DsVOTZJsXVudXB__73leXQ96V"
                            class="btn">Download CV</a>
                        <a href="#" class="btn contact-me">Contact Me</a>
                    </div>
                </div>
            </div>

            <!-- right work experience -->
            <div class="book-page page-right turn " id="turn-1">
                <!-- page 1 (Education) -->
                <div class="page-front">
<h1 class="title">Education</h1>
                    <div class="workeduc-box">
                        <div class="workeduc-content">
                            <span class="year"><i class='bx bxs-calendar'></i>Dec 2022 – Present</span>
                            <h3>B.Tech in Computer Science - Bansal College of Engineering, Bhopal</h3>
                            <p>Pursuing Bachelor of Technology in Computer Science. Building strong skills in
                                web development, full-stack technologies, and software engineering.</p>
                        </div>

                        <div class="workeduc-content">
                            <span class="year"><i class='bx bxs-calendar'></i>2021</span>
                            <h3>12th - St. Patrick’s Sr. Sec. School, Sohagpur (CBSE)</h3>
                            <p>Completed Higher Secondary Education with 76.4%. Focused on computer science
                                fundamentals and problem-solving skills.</p>
                        </div>

                        <div class="workeduc-content">
                            <span class="year"><i class='bx bxs-calendar'></i>2019</span>
                            <h3>10th - St. Patrick’s Sr. Sec. School, Sohagpur (CBSE)</h3>
                            <p>Completed Secondary Education with 78.6%. Developed early interest in
                                programming and technology.</p>
                        </div>
                    </div>

                    <span class="number-page">1</span>

                    <!-- next button -->
                    <span class="nextprev-btn" data-page="turn-1">
                        <i class='bx bx-chevron-right'></i>
                    </span>
                </div>

                <!-- page 2 (Skills) left-->
                <div class="page-back">
  <h1 class="title">My Skills</h1>
                    <div class="skills-box">
                        <div class="skills-content">
                            <h3>Front-End</h3>
                            <div class="content">
                                <span><i class='bx bxl-html5'></i>HTML</span>
                                <span><i class='bx bxl-css3'></i>CSS</span>
                                <span><i class='bx bxl-javascript'></i>JS</span>
                                <span><i class='bx bxl-bootstrap'></i>Bootstrap</span>
                                <span><i class='bx bxl-tailwind-css'></i>Tailwind</span>
                                <span><i class='bx bxl-react'></i>React</span>
                            </div>
                        </div>

                        <div class="skills-content">
                            <h3>Back-End</h3>
                            <div class="content">
                                <span><i class='bx bxl-nodejs'></i>Node.js</span>
                                <span><i class='bx bx-code-curly'></i>Express.js</span>
                                <span><i class='bx bx-data'></i>FastAPI</span>
                            </div>
                        </div>

                        <div class="skills-content">
                            <h3>Databases</h3>
                            <div class="content">
                                <span><i class='bx bxl-mongodb'></i>MongoDB</span>
                                <span><i class='bx bxl-postgresql'></i>PostgreSQL</span>
                                <span><i class='bx bx-data'></i>MySQL</span>

                            </div>
                        </div>
                    </div>

                          <!-- <h1 class="title">Work Experience</h1>
                    <div class="workeduc-box">
                        <div class="workeduc-content">
                            <span class="year"><i class='bx bxs-calendar'></i>2020 - 2021</span>
                            <h3>Web Developer - Comapny</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia obcaecati
                                incidunt aliquid dicta odit nam, vitae omnis eligendi vel
                                expedita sunt iusto cum sequi animi?</p>
                        </div>

                        <div class="workeduc-content">
                            <span class="year"><i class='bx bxs-calendar'></i>2021 - 2022</span>
                            <h3>Web Developer - Comapny</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia obcaecati
                                incidunt aliquid dicta odit nam, vitae omnis eligendi vel
                                expedita sunt iusto cum sequi animi?</p>
                        </div>

                        <div class="workeduc-content">
                            <span class="year"><i class='bx bxs-calendar'></i>2022 - 2023</span>
                            <h3>Web Developer - Comapny</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia obcaecati
                                incidunt aliquid dicta odit nam, vitae omnis eligendi vel
                                expedita sunt iusto cum sequi animi?</p>
                        </div>
                   
                    </div> -->


                    <span class="number-page">2</span>

                    <!-- prev button -->
                    <span class="nextprev-btn back" data-page="turn-1">
                        <i class='bx bx-chevron-left'></i>
                    </span>
                </div>
            </div>

            <!-- page 2 (my service) right -->
            <div class="book-page page-right turn" id="turn-2">
                <div class="page-front">
                     <h1 class="title">Certifications</h1>
                    <!-- <div class="skills-box">
                        <div class="skills-content">
                            <h3>Front-End</h3>
                            <div class="content">
                                <span><i class='bx bxl-html5'></i>HTML</span>
                                <span><i class='bx bxl-css3'></i>CSS</span>
                                <span><i class='bx bxl-javascript'></i>JS</span>
                                <span><i class='bx bxl-bootstrap'></i>Bootstrap</span>
                                <span><i class='bx bxl-tailwind-css'></i>Tailwind</span>
                                <span><i class='bx bxl-react'></i>React</span>
                            </div>
                        </div>

                        <div class="skills-content">
                            <h3>Back-End</h3>
                            <div class="content">
                                <span><i class='bx bxl-nodejs'></i>Node.js</span>
                                <span><i class='bx bx-code-curly'></i>Express.js</span>
                                <span><i class='bx bx-data'></i>FastAPI</span>
                            </div>
                        </div>

                        <div class="skills-content">
                            <h3>Tools</h3>
                            <div class="content">
                                <span><i class='bx bxl-git'></i>Git</span>
                                <span><i class='bx bxl-github'></i>GitHub</span>
                                <span><i class='bx bxl-mongodb'></i>MongoDB Compass</span>
                                <span><i class='bx bxl-post'></i>Postman</span>
                            </div>
                        </div>
                    </div> -->
      <div class="workeduc-box">
          <div class="workeduc-content">
              <h3>C++ & DSA – PW Skills</h3>
              <p>Completed certification in Data Structures & Algorithms using C++.</p>
          </div>

          <div class="workeduc-content">
              <h3>ReactJS & Redux – YouTube Course</h3>
              <p>Learned React fundamentals and state management with Redux.</p>
          </div>

          <div class="workeduc-content">
              <h3>SQL – CodeWithHarry</h3>
              <p>Certification in SQL covering database queries and management.</p>
          </div>

          <div class="workeduc-content">
              <h3>NodeJS & Express – PW Skills</h3>
              <p>Backend development certification covering REST APIs and server-side logic.</p>
          </div>

          <div class="workeduc-content">
              <h3>MongoDB – Coursera</h3>
              <p>Learned database design, queries, and NoSQL concepts with MongoDB.</p>
          </div>

          <div class="workeduc-content">
              <h3>MySQL – Apna College</h3>
              <p>Certification in relational databases and MySQL query optimization.</p>
          </div>
          <!-- 
          <div class="workeduc-content">
              <h3>Full Stack – PW Skills</h3>
              <p>Completed a full-stack web development certification (MERN stack).</p>
          </div>

          <div class="workeduc-content">
              <h3>Responsive Web Design – FreeCodeCamp</h3>
              <p>Certified in building responsive and mobile-friendly web pages.</p>
          </div> -->
          </div>

                    <span class="number-page">3</span>

                    <!-- next button -->
                    <span class="nextprev-btn" data-page="turn-2">
                        <i class='bx bx-chevron-right'></i>
                    </span>
                </div>

                <!-- page 3 (my services) left -->
                <div class="page-back">
                      <h1 class="title">My Services</h1>
                    <div class="services-box">
                        <div class="services-content">
                            <i class='bx bx-code-alt'></i>
                            <h3>Web Development</h3>

                            <p>Modern websites built for speed and performance.</p>
                            <a href="#" class="btn">Read More</a>
                        </div>

                        <div class="services-content">
                            <i class='bx bxl-react'></i>
                            <h3>React Development</h3>
                            <p>Fast, interactive web apps built with React.js.</p>
                            <a href="#" class="btn">Read More</a>
                        </div>

                        <div class="services-content">
                            <i class='bx bxl-nodejs'></i>
                            <h3>Node.js Backend</h3>
                            <p>Robust server-side apps using Node.js and Express.</p>
                            <a href="#" class="btn">Read More</a>
                        </div>

                        <div class="services-content">
                            <i class='bx bx-data'></i>
                            <h3>Database Management</h3>
                            <p>Built Secure and optimized databases.</p>
                            <a href="#" class="btn">Read More</a>
                        </div>
                    </div>


                    <span class="number-page">4</span>

                    <!-- prev button -->
                    <span class="nextprev-btn back" data-page="turn-2">
                        <i class='bx bx-chevron-left'></i>
                    </span>
                </div>
            </div>

            <!-- page 3 (project) right -->
            <div class="book-page page-right turn" id="turn-3">
                <!-- page no 5 latest project -->

                <div class="page-front">
                    <h1 class="title">Latest project</h1>

                    <div class="portfolio-box">
                        <div class="img-box">
                            <img src="/images/portfolio.jpg" alt="" loading="lazy">
                        </div>

                        <div class="info-box">
                            <div class="info-title">
                                <h3>Chat Application</h3>
                                <a href="https://github.com/rohitpatel/realtime-chat-app" target="_blank">
                                    Live Preview <i class='bx bx-link-external'></i>
                                </a>
                            </div>
                            <p><strong>Tech Used:</strong> Node.js, Express, Socket.io, MongoDB</p>
                            <p>A real-time chat application with user authentication, live messaging,
                                and online status tracking.</p>
                        </div>


                        <div class="btn-box">
                            <a href="#" class="btn">Source Code</a>
                            <a href="#" class="btn">More Projects</a>
                        </div>
                    </div>

                    <span class="number-page">5</span>

                    <!-- next button -->
                    <span class="nextprev-btn" data-page="turn-3">
                        <i class='bx bx-chevron-right'></i>
                    </span>
                </div>


                <!-- page 4 (contac) me left -->
                <div class="page-back">
                    <h1 class="title">Contact Me!</h1>

                    <div class="contact-box">
                        <form action="/login" method="post">
                            <input name="username" type="text" class="field" placeholder="Full Name" required>
                            <input name="password" type="text" class="field" placeholder="Email Address" required>
                            <textarea name="secret" class="field" id="" cols="30" rows="10" placeholder="Your Message"
                                required></textarea>
                            <input type="submit" class="btn" value="Send Message">
                        </form>
                    </div>

                    <span class="number-page">6</span>

                    <!-- prev button -->
                    <span class="nextprev-btn back" data-page="turn-3">
                        <i class='bx bx-chevron-left'></i>
                    </span>

                    <a href="/logout" class="back-profile">
                <p>profile</p>
                     <i class='bx bx-profile'></i>
                </a >
                </div>

            </div>



          <!-- addd new pages -->







          

        </div>
    </div>


    <script src="/javascripts/profile.js"></script>

</body>

</html>